div{
    width:200px;
    height: 200px;
    font-size: 14px;
    padding: 15px;
    border: 2px solid black;
    margin: 0px 30px;
}

div#box1{
    background-color: rgb(160,160,255);
    float: left;
    text-align: center;
}
div#box2{
    background-color: rgb(255,255,100);
    float: right;
    text-align: center;
}
div#box3{
    background-color: rgb(120,255,120);
    float:none;
    width: auto;
    overflow: auto;
    text-align: center;
}